---
import * as FaIcons from "react-icons/fa";
import * as SiIcons from "react-icons/si";
import type { UserProfile } from "types/user";

export type Props = UserProfile["links"][0];

const { name, url, icon, clicks, color } = Astro.props;

const IconComponent = FaIcons[icon as keyof typeof FaIcons] ?? SiIcons[icon as keyof typeof SiIcons] ?? FaIcons.FaLink
---

<a
  class="flex font-sans justify-between items-center rounded-md bg-slate-800 hover:bg-slate-700 py-2 px-4 text-gray-300 hover:text-gray-200 transition-colors duration-300"
  href={`/links/${encodeURIComponent(url)}`}
  target="_blank"
  rel="noopener noreferrer"
>
  <span style={color ? `color: ${color};` : undefined}>
    <IconComponent />
  </span>
  <span class="md:text-lg">{name}</span>
  <span class="!text-gray-400 text-sm" id={`link-${encodeURIComponent(name)}`}
    >{clicks ?? 0}</span
  >
</a>
